In [35]:
class LR:
    def __init__(self):
        self.m = None
        self.b = None
    
    def fit(self, X_train, y_train):

        num = 0
        den = 0

        for i in range(X_train.shape[0]):
            
            num = num + ((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))
        
        self.m = num/den
        self.b = y_train.mean() - (self.m * X_train.mean())
        print(self.m)
        print(self.b) 

    def predict(self, X_test):
        print(X_test)
        return self.m * X_test + self.b

In [36]:
import numpy as np
import pandas as pd

In [37]:
df = pd.read_csv("placement.csv")
df.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [38]:
X = df.iloc[:, :1].values
y = df.iloc[:, 1].values

In [39]:
pd.DataFrame(X, columns=['cgpa']).head()

   cgpa
0  6.89
1  5.12
2  7.82
3  7.42
4  6.94

In [40]:
pd.DataFrame(y, columns=['package']).head()

   package
0     3.26
1     1.98
2     3.25
3     3.67
4     3.57

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [42]:
LR_model = LR()
LR_model.fit(X_train, y_train)

[0.55795197]
[-0.89611192]

In [43]:
X_train.shape[0]

160

In [45]:
LR_model.predict(X_test[0])

[8.58]

array([3.89111601])