- More accurate
- More number of calculation
- You have to upload whole dataset so it memory heavy

In [25]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split


from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [36]:
df = pd.read_csv("train.csv", usecols=["Age", 'Pclass', "Fare", "Survived"])
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [37]:
df.isnull().mean()*100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [38]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [40]:
X_train.head()

     Pclass   Age     Fare
331       1  45.5  28.5000
733       2  23.0  13.0000
382       3  32.0   7.9250
704       3  26.0   7.8542
813       3   6.0  31.2750

In [41]:
y_train

331    0
733    0
382    0
704    0
813    0
      ..
106    1
270    0
860    0
435    1
102    0
Name: Survived, Length: 712, dtype: int64

In [42]:
knn = KNNImputer(n_neighbors=3, weights='distance')

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [43]:
lr = LogisticRegression()
lr.fit(X_train_trf, y_train)

y_pred = lr.predict(X_test_trf)
accuracy_score(y_test, y_pred)

0.7374301675977654

In [48]:
# compariison with SimpleImputer --> mean
si = SimpleImputer(strategy='median')

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [49]:
lr = LogisticRegression()

lr.fit(X_train_trf2, y_train)
y_pred2 = lr.predict(X_test_trf2)
accuracy_score(y_test, y_pred2)

0.7374301675977654