In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import opendatasets as od

In [9]:
od.download("https://www.kaggle.com/datasets/atharvasoundankar/sneakers-and-streetwear-sales-2022")

Skipping, found downloaded files in ".\sneakers-and-streetwear-sales-2022" (use force=True to force download)

In [12]:
df = pd.read_csv("sneakers_streetwear_sales_data.csv")

In [13]:
df.sample(5)

,Date,Product Name,Product Type,Brand,Gender,Category,Country,Quantity,Unit Price ($),Amount ($),Payment Mode
137,2022-06-24,Nike Tech Fleece,Hoodie,Nike,Women,Streetwear,India,5,58.37,291.85,UPI
235,2022-06-02,Off-White Hoodie,Hoodie,Off-White,Women,Casual,Canada,3,296.55,889.65,Card
218,2022-05-27,Adidas Ultraboost,Sneakers,Adidas,Women,Sportswear,UK,5,135.50,677.50,UPI
185,2022-07-27,Jordan 1 High,Sneakers,Nike,Men,Limited Edition,India,5,291.70,1458.50,Wallet
12,2022-08-26,Nike Dunk Low,Sneakers,Nike,Women,Casual,Germany,3,295.75,887.25,Card